@page
@model BoredWebAppAdmin.Pages.AddUserModel
@{
}
<form method="post">
    <label for="userName">User Name</label>
    <input type="text" name="userName"/>
    <label for="password">Password</label>
    <input type="password" name="password" />

    <button class="p-2">Save</button>
</form>