@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <label for="name">Client Name</label>
    <input type="text" name="name" asp-for="ClientInformationFormRequest.ClientName" />

    <button class="p-2">Save</button>
</form>

<form asp-antiforgery="false" method="post">
    <button asp-page-handler="Wireguard">Restart Wireguard</button>
</form>

<p>
    <pre>@Model.WireguardStatus</pre>
</p>
