@page
@using BoredWebAppAdmin.Models
@model BoredWebAppAdmin.Pages.UsersModel
@{
}

<h1>Users</h1>
<table class=table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">UserName</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(User user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Status</td>
                <td>
                    @if(user.Status == Models.User.UserStatus.Requested)
                    {
                        <form method="post">
                            <input type="hidden" value="@user.Id" name="id">
                            <button>Accept</button>
                        </form>
                    }
                    else
                    {
                        <p>none</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
