[Unit]
Description=Service in .NET

[Service]
Type=simple
ExecStart=dotnet /root/bwa/BoredApp/AdminAPI/bin/Debug/net5.0/AdminAPI.dll

[Install]
WantedBy=multi-user.target
