.main-button, a .main-button {
    border-radius: 5px;
    background-color: #A7258F;
    border: solid;
    border-color: #141414;
    border-width: medium;
    color: black;
}

    .main-button:hover {
        border-color: #DDCECD;
        color: black;
    }

    .main-button:active {
        background-color: #E58BD6
    }

body {
    background-color: #141414;
    color: white;
}

.activity-card {
    border-radius: 10px;
    background-color: #999999;
    border: solid;
    border-color: #141414;
    border-width: medium;
    color: black;
}

.spacer-400{
    height: 400px;
}

#activity-name {
    color: #541248;
}

.down-button {
    font-size: 300%;
    color: #999999 !important;
    text-decoration: none !important;
}
    .down-button:hover{
        color: #707070 !important;
        text-decoration: none !important;
    }

.button-tag {
    color: #999999;
}