@page
@model BoredWebApp.Pages.SavedActivitiesModel
@{
}
@foreach (var item in Model.SavedActivities)
{
    <tr>
        <td>
            @Html.DisplayFor(m => item.Activity)
        </td>
        <td>
            @Html.DisplayFor(m => item.Type)
        </td>
        <td>
            @Html.DisplayFor(m => item.Price)
        </td>
    </tr>
}