@page
@model BoredWebApp.Pages.SecureModel
@{
}
<h1>Welcome @Model.Name</h1>
<div>
    <img src="@Model.ProfileImage"/>
</div>

<form method="POST">
    <button>Logout</button>
</form>

<form asp-page-handler="save" method="POST">
    <div>
        <label for="name">What is your prefered name?</label>
        <input name="name" type="text" />
    </div>
    
    <div>
        <label for="image">User Profile Pic</label>
        <input name="image" type="file" asp-for="Image"/>
    </div>
    <button type="submit">Save</button>
</form>