@page
@model BoredWebApp.Pages.SecureModel
@{
}
<h1>Welcome @Model.Name</h1>

<div>
    <h3>Status: @Model.Status</h3>
    @if(Model.Status == "New")
    {
        <form method="post" asp-page-handler="request">
            <button>Request Admin Access</button>
        </form>
    }else if(Model.Status == "Accepted")
    {
        <p>You have been approved!</p>
    }
</div>

<div>
    <img src="@Model.ProfileImage"/>
</div>

<form method="POST">
    <button>Logout</button>
</form>

<form asp-page-handler="save" method="POST" enctype="multipart/form-data">
    <div>
        <label for="name">What is your prefered name?</label>
        <input name="name" type="text" />
    </div>
    
    <div>
        <label for="image">User Profile Pic</label>
        <input name="image" type="file" asp-for="Image"/>
    </div>
    <button type="submit">Save</button>
</form>